body {
    background-color: #69ABA1;
    height: 100vh;
    width: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#firstPageWrapper {
    margin: 0;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

img {
    width: 45vw;
    height: 100vh;
}

#goGoghButton {
    background-color: #69aba1;
    height: 200px;
    width: 400px;
    border: 0.5px solid #caf3ed;
    border-radius: 50px;
    box-shadow: 2px 2px 3px 2px rgba(31, 50, 48, 0.769);
    font-family: "P22 Vincent Regular";
    font-size: 100px;
    color: #2d4d49;
    margin-left: 80px;
    cursor: pointer;
}

@font-face {
    font-family: "P22 Vincent Regular";
    src: url(P22VincentRegular/P22VincentRegular.ttf);
}